.custom-dropdown {
  width: 200px;
  position: relative;
  height: 42px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  margin-bottom: 10px;

  color: #666666;
}

.custom-dropdown:focus {
  outline: none;
}

.custom-dropdown-select {
  cursor: pointer;
  display: block;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 15px;
  width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-dropdown-select > img {
  cursor: pointer;
  float: right;
  position:absolute ;
  right: 10px;
}
.custom-dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.custom-dropdown:active {
  background-color: #f8f8f8;
}
.custom-dropdown.active:hover,
.custom-dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.custom-dropdown .custom-dropdown-menu {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 219px;
  top: 45px;
  left: -40px;
  
  z-index: 1;
  cursor: pointer;

  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #666666;
}

.custom-dropdown .custom-dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.custom-dropdown .custom-dropdown-menu li a {
  color: #454545;
}

.custom-dropdown .custom-dropdown-menu {
  padding: 0;
  list-style: none;
}
.custom-dropdown .custom-dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.custom-dropdown .custom-dropdown-menu li:active {
  background-color: #e2e2e2;
}

.custom-icon {
  width: 20px;
  height: 20px;
}

li > img.custom-icon {
  margin-right: 6px;
  width: 21px;
  height: 21px;
}

.chevrondown.invisible, .chevronup.invisible {
  display: none;
}


.custom-dropdown-select.selected .flavor-icon {
  position: absolute;
  left: 15px;
  top: 17px;
  width: 20px;
  height: 20px;
}

.custom-dropdown-select.selected div {
  position: relative;
  display: inherit;
  width:135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: #666666;
}


.custom-dropdown-select.selected label {
  position: absolute;

  top: -2px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  color: #666666;
}

.custom-dropdown-select.unselected label {
  position: absolute;

  top: -2px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;

  color: #666666;
}


.custom-dropdown-select .custom-icon {
  top: 10px;
}

#version-dropdown-new, #flavor-dropdown {
  display: inline-block;
}



#remove-flavor {
  right: 35px;
  width: 22px;
  height: 22px;
}